@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');
html,
body {
    height: 100%;
    margin: 0;
    background-color: black;
    overflow-x: hidden;
}

body {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

h1 {
    font-size: 52px;
}

header {
    background-image: url('../images/git-bg.jpg');
    background-size: stretch;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
    overflow: hidden;
    box-shadow: 1px 0 2px black;
    text-shadow: -1px 0 2px black, 1px 0 2px black, 0 1px 2px black, 0 -1px 2px black;
}

#git-projects, #more-git-projects {
    padding: 20px 0;
    /*background-image: url('../images/git-bg.jpg');
    background-size: cover;
    background-attachment: center;*/
    background-color: #132152;
}

.git-project-underlay>h4 {
    padding-bottom: 15px;
    text-align: center;
    text-shadow: 0 0 2px black;
}

h3.git-title {
    text-shadow: 0 0 2px black;
    text-align: center;
}

.git-project {
    padding: 15px;
    max-height: 450px;
    overflow: hidden;
}

#quick-info {
    background-color: #132152;
    background-image: url('../images/headerBackground.jpg');
    background-position-y: -150px;
    background-attachment: fixed;
    background-size: cover;
}

.git-project-underlay {
    overflow: hidden;
}

.git-project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    overflow: hidden;
    background: #132152;
    text-align: center;
    font-size: 1.2em;
    color: white;
    text-shadow: 0 0 2px #0e1a24;
    transition: height .5s;
}

.git-project-overlay>p {
    margin-top: 10px;
}

.git-project:hover>.git-project-overlay {
    padding: 25px;
    height: 100%;
}

#cta-button {
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
    margin-top: 10px;
}

#cta-button:hover {
    color: black
}

.row {
    max-width: 100vw;
    box-sizing: border-box;
}

.background-overlay {
    background-color: rgba(0, 0, 0, .7);
    margin: 0;
}

.header-wrapper {
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

ul.page-list,
ul.page-list-drop {
    list-style: none;
}

.align-center {
    margin: 0 auto;
}



a {
    transition: all 500ms;
    font-weight: 700;
    text-shadow: none;
    color: #F39D41;
}

a:hover {
    text-shadow: none;
    text-decoration: underline;
}

ul.page-list>li>h4>a {
    color: white;
    text-decoration: underline;
}

ul {
    padding-left: 0;
}

#quick-info {
    text-align: center;
    color: /*#1c3448*/
    white;
    padding: 0 0;
}

.quick-blurb {
    box-sizing: border-box;
    font-size: 1em;
    padding: 20px 0;
    text-shadow: 0 0 2px #0e1a24;
    font-family: Roboto;
    background-color: rgba(0, 0, 0, .8);
}
.quick-blurb > h3 { 
    padding-top: 15px;
}
footer {
    padding: 40px;
    background-color: #8D5924;
    font-size: smaller;
}
footer a {
    color: #F39D41;
}
footer a:hover {
    color: #d0ae8b;
}
.center-column { 
    text-align: center;
}
@media screen and(max-width: 1366px) {
    header {
        background-position-x: -150px;
    }
    .row {
        margin-left: 0 !important;
    }
    .git-project {
        padding: 15px;
        max-height: 250px;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
    .git-project:hover>.git-project-overlay {
        height: 100%;
        overflow-y: auto;
    }
    header {
        height: 100vh;
        background-position-y: 0;
    }
    .align-self-center {
        padding-left: 20px;
        /*width: 100vw;*/
        margin: 0 auto;
    }
    .row {
        
        box-sizing: border-box;
    }
    .background-overlay {
        width: 100vw;
        background-color: rgba(0, 0, 0, .7);
    }
    .header-wrapper {
        width: 100vw;
        padding: 20px 0;
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    #quick-info {
        background-color: #8D5924/*#D9E9FF*/;
        /*background-image: none;*/
    }
    .quick-blurb {
        margin: 0 auto;
    }
}